{% extends 'main/layout.html'%}

{% block title %} About us {% endblock %}

{% block content %}
<div class="about">
    <h1>О нас</h1>
</div>
<p class="aboutus">Спортивный клуб «ДЗЕРЖИНКА» - место, в котором Вы сможете найти занятие для своего ребёнка, а также для себя!</p>

<p class="aboutus">Мы предоставляем возможность заниматься в таких направлениях, как</p>

<ul class="aboutList">
    <li>Бокс</li>
    <li>Футбол</li>
    <li>Хореография</li>
    <li>Фитнес</li>
</ul>

<p class="aboutus">Занимаясь в нашем комплексе, Ваш ребёнок получит базовые навыки, которые помогут ему в дальнейшем развитии в выбранном виде спорта;</p>

<p class="aboutus">Приглашаем к нам на занятия и будем рады видеть каждого в нашем спортивном комплексе!</p>
{% endblock %}